.showcase {
    width:100%;
}

.grandparent{
    padding:2%;
}

.parent {
    height:400px;
    overflow:hidden;
    width:100%;
    background-color:black;
    padding:0;
}

.child {
    text-align:center;
    margin-top:;
    width:100%;
    height:400px;
    
    background-attachment:local;
    background-position:contents;
    background-size:cover;
    background-repeat:no-repeat:
    transform:scale(1);
    transform-origin:center;
    transition-duration:1.5s;
    transition-timing-function:ease-in-out;
     opacity:0.5;
    }
.child:hover {
    transform:scale(1.1);
    transform-origin:center;
    transition-duration:1.5s;
    transition-timing-function:ease-in-out;
    opacity:1;
}

.child1{
    background-image:url('../images/books-main.jpg');
}
.child2{
    
     background-image:url('../images/characters.jpg');
}
.child3{
    
     background-image:url('../images/houses.jpg');
}

.introbtn {
   margin-top:200px;
   padding:;
   color:white;
   font-family: 'Montserrat', sans-serif;
   cursor:pointer;
   background-color:#daad86 !important;
   border:0 !important;
   
}

/* ------------------------------------------------------------------------- */
.bookcover {
    height:300px;
    width:100%;
    transition-duration:1s;
    cursor:pointer;
}

.bookcover:hover{
    transform:scale(1.1);
    transition-duration:1s;
    transition-timing-function:ease-in-out;
}

#bookparent{
    overflow:hidden;
    width:100%;
    margin-top:10px;
    padding:10px;
    padding-top:15px;
    background-color:darkcyan;
    box-shadow:4px 4px 4px black;
    border-radius:4px;
}

.bookshortdetails {
    background-color:#daad86;
    font-family: 'Montserrat', sans-serif;
    font-weight:8px;
    margin-top:15px;
    padding:5px;
}

/* ----------------------------------------------------------------------------- */

#bookdetailcovercover{
    margin-top:20px;
    
    

}

#bookcovernamecover {
  margin-top:20px;
  box-shadow:3px 3px 3px black;
  background-color:#22264b;
  height:300px;

}

.bookdetailcover {
    
    width:100%;
    height:300px;
    box-shadow:3px 3px 3px black;
}

.bookcovername {
     background-color:;
     color:white;
    font-family: 'Montserrat', sans-serif;
    font-weight:8px;
    margin-top:15px;
    padding:5px;
    
        }

#bookcoverdescription {
    background-color:#22264b;
    height:auto;
    padding:0;
    margin-top:10px;
    margin-left:15px;
    margin-right:px;
    width:98.6%;
    box-shadow:3px 3px 3px black;
    
}

.bookdescriptiontitle {
    text-align:center;
    padding:5px;
    color:white;
    background-color:#daad86;
    text-shadow:2px 2px 2px black;
    margin:auto;


}

.bookdescription {
    text-align:center;
    padding:3px;
}

#loadicon {
    text-align:center;
    
}

/* -------------------------------------------------------------------  */

#maincharacter {
     background-color:darkslategrey;
    margin:4px;
    padding:3px;
    height:auto;
    box-shadow:3px 3px 3px black;
    border-radius:4px;
}

#charactercover {
    background-color:;
    
}

#charactercoverimg {
    width:100%;
    height:200px;
    border-radius:100%;
}

#characterdescription {
    color:white;
    font-family: 'Bellefair', serif;
    font-size:0.9em;
}

.pager li a {
    background-color:darkslategrey !important;
    color:white !important;
    cursor:pointer;
    font-family: 'Bellefair', serif;
    font-size:1.2em;
    border:2px solid darkslategrey !important;
    
}

#imgalternate {
 background-image:url('../images/imgnotavailable.jpg');
 background-position:center;
 background-size:cover;
 background-repeat:no-repeat;
    width:50%;
    height:200px;
    border-radius:100%;
}


/* FOOTER SECTION STYLE */

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700,300);
footer { background-color:#0c1a1e; min-height:350px; font-family: 'Open Sans', sans-serif; }
.footerleft { margin-top:50px; padding:0 36px; }
.logofooter { margin-bottom:10px; font-size:25px; color:#fff; font-weight:700;}

.footerleft p { color:#fff; font-size:12px !important; font-family: 'Open Sans', sans-serif; margin-bottom:15px;}
.footerleft p i { width:20px; color:#999;}


.paddingtop-bottom {  margin-top:50px;}
.footer-ul { list-style-type:none;  padding-left:0px; margin-left:2px;}
.footer-ul li { line-height:29px; font-size:12px;}
.footer-ul li a { color:#a0a3a4; transition: color 0.2s linear 0s, background 0.2s linear 0s; }
.footer-ul i { margin-right:10px;}
.footer-ul li a:hover {transition: color 0.2s linear 0s, background 0.2s linear 0s; color:#ff670f; }

.social:hover {
     -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
     -o-transform: scale(1.1);
 }
 
 

 
 .icon-ul { list-style-type:none !important; margin:0px; padding:0px;}
 .icon-ul li { line-height:75px; width:100%; float:left;}
 .icon { float:left; margin-right:5px;}
 
 
 .copyright { min-height:40px; background-color:#000000;}
 .copyright p { text-align:left; color:#FFF; padding:10px 0; margin-bottom:0px;}
 .heading7 { font-size:21px; font-weight:700; color:#d9d6d6; margin-bottom:22px;}
 .post p { font-size:12px; color:#FFF; line-height:20px;}
 .post p span { display:block; color:#8f8f8f;}
 .bottom_ul { list-style-type:none; float:right; margin-bottom:0px;}
 .bottom_ul li { float:left; line-height:40px;}
 .bottom_ul li:after { content:"/"; color:#FFF; margin-right:8px; margin-left:8px;}
 .bottom_ul li a { color:#FFF;  font-size:12px;}
