
<div class='col-lg-12 grandparent'>
    <div class='parent'>
    <div class='child child1' >
       <a href='#!books'> <button type='button'  class='introbtn btn  btn-lg'>Books</button></a>
        </div>
        </div>
 </div>

<div class='col-lg-12 grandparent'>
    <div class='parent'>
    <div class='child child2' >
       <a href='#!characters'> <button type='button'  class='introbtn btn  btn-lg'>Characters</button></a>
        </div>
        </div>
 </div>

<div class='col-lg-12 grandparent'>
    <div class='parent'>
    <div class='child child3' >
      <a href='#!houses'> <button type='button'  class='introbtn btn  btn-lg'>Houses</button></a> 
        </div>
        </div>
 </div>
